:root {
  --bg-color: #fff;
  --fg-color: #121212;
  --fg-light-color: #b2b2b2;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --fg-color: #fff;
  --fg-light-color: #b2b2b2;
}

::selection {
  background: var(--fg-light-color);
  color: var(--fg-color);
}

::-webkit-scrollbar {
  width: 0;
  height: 0
}

* {
  box-sizing: border-box;
  outline: 0;
  border: 0;
  font-family: 'Poppins', 'Roboto', 'Noto', sans-serif;
}

a {
  color: var(--fg-color);
  fill: var(--fg-color);
  text-decoration: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-weight: 500;
  font-size: 18px;
  animation: fadein .2s;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.logo {
  margin: 0;
  font-size: 40px;
}

.description {
  font-size: 14px;
  opacity: .3;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input,
select,
button {
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

input {
  padding: 8px 16px;
  border-radius: 32px;
  background: #e8f0fe;
  color: #121212;
}

select {
  height: 32px;
  background: transparent;
  color: var(--fg-light-color);
}

button {
  display: inline-flex;
  margin: 4px;
  padding: 8px 16px;
  border-radius: 32px;
  background: transparent;
  color: var(--fg-light-color);
  align-items: center;
  justify-content: center;
}

footer {
  position: absolute;
  right: 10%;
  bottom: 0px;
  left: 10%;
  padding: 16px 0;
}

header {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  padding: 16px 0;
}

/*=========== Image Grid ============*/
#imgArea {
  position: absolute;
  top: 113px;
  right: 10%;
  bottom: 89px;
  left: 10%;
  overflow-y: scroll;
}

#images {
  position: relative;
  column-count: 4;
  column-gap: 16px;
}

#imgArea img {
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
  border-radius: 16px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.fade {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 9;
  height: 64px;
}

.bottom {
  bottom: 89px;
  background: linear-gradient(to top, var(--bg-color), transparent);
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  #images {
    column-count: 3;
  }
}

@media screen and (min-width:767px) and (max-width:1080px){
  #imgArea{
    top:200px;
  }
}

@media screen and (max-width: 767px) {
  #images {
    column-count: 2;
  }

  .logo {
    font-size: 20px;
  }

  .flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .hide-on-mobile {
    display: none;
  }

  header {
    margin: 0 16px;
  }

  footer,
  #imgArea {
    right: 16px;
    left: 16px;
  }

  input {
    padding: 8px 16px;
    font-size: 12px;
    width: 100%;
  }

  #imgArea {
    top: 190px;
  }
}

#imgArea img:hover {}

#imgArea a {
  position: fixed;
  margin: 4px;
  margin-left: 16px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(1);
  transition-duration: 0.2s;
}

#imgArea a:hover {
  transform: scale(1.4);
}

#imgArea a:active .tooltip {
  visibility: visible;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
  visibility: hidden;
  padding: 8px;
  border-radius: 16px;
  background-color: var(--fg-color);
  color: var(--bg-color);
  font-size: 12px;
}

#shareFb {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMGMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnM1LjM3MyAxMiAxMiAxMiAxMi01LjM3MyAxMi0xMi01LjM3My0xMi0xMi0xMnptMyA4aC0xLjM1Yy0uNTM4IDAtLjY1LjIyMS0uNjUuNzc4djEuMjIyaDJsLS4yMDkgMmgtMS43OTF2N2gtM3YtN2gtMnYtMmgydi0yLjMwOGMwLTEuNzY5LjkzMS0yLjY5MiAzLjAyOS0yLjY5MmgxLjk3MXYzeiIvPjwvc3ZnPg==);
}

#shareTwitter {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMGMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnM1LjM3MyAxMiAxMiAxMiAxMi01LjM3MyAxMi0xMi01LjM3My0xMi0xMi0xMnptNi4wNjYgOS42NDVjLjE4MyA0LjA0LTIuODMgOC41NDQtOC4xNjQgOC41NDQtMS42MjIgMC0zLjEzMS0uNDc2LTQuNDAyLTEuMjkxIDEuNTI0LjE4IDMuMDQ1LS4yNDQgNC4yNTItMS4xODktMS4yNTYtLjAyMy0yLjMxNy0uODU0LTIuNjg0LTEuOTk1LjQ1MS4wODYuODk1LjA2MSAxLjI5OC0uMDQ5LTEuMzgxLS4yNzgtMi4zMzUtMS41MjItMi4zMDQtMi44NTMuMzg4LjIxNS44My4zNDQgMS4zMDEuMzU5LTEuMjc5LS44NTUtMS42NDEtMi41NDQtLjg4OS0zLjgzNSAxLjQxNiAxLjczOCAzLjUzMyAyLjg4MSA1LjkyIDMuMDAxLS40MTktMS43OTYuOTQ0LTMuNTI3IDIuNzk5LTMuNTI3LjgyNSAwIDEuNTcyLjM0OSAyLjA5Ni45MDcuNjU0LS4xMjggMS4yNy0uMzY4IDEuODI0LS42OTctLjIxNS42NzEtLjY3IDEuMjMzLTEuMjYzIDEuNTg5LjU4MS0uMDcgMS4xMzUtLjIyNCAxLjY0OS0uNDUzLS4zODQuNTc4LS44NyAxLjA4NC0xLjQzMyAxLjQ4OXoiLz48L3N2Zz4=);
}

#shareLink {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMGMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnM1LjM3MyAxMiAxMiAxMiAxMi01LjM3MyAxMi0xMi01LjM3My0xMi0xMi0xMnptMSAxNS44ODl2LTIuMjIzcy0zLjc4LS4xMTQtNyAzLjMzM2MxLjUxMy02LjU4NyA3LTcuNzc4IDctNy43Nzh2LTIuMjIxbDUgNC40MjUtNSA0LjQ2NHoiLz48L3N2Zz4=);
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
}

.theme-switch input {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  background-color: var(--fg-light-color);
  cursor: pointer;
  transition: .2s;
  opacity: .5;
}

.slider:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: var(--fg-color);
  content: "";
  transition: .2s;
}

input:checked+.slider {
  background-color: var(--fg-light-color);
}

input:checked+.slider:before {
  transform: translateX(16px);
}

.trigger {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  opacity: 0;
  transition: all .2s;
  transform: scale(1.05);
}

.show-modal {
  visibility: visible;
  opacity: 1;
  transition: all .2s;
  transform: scale(1);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: auto;
  padding: 16px 32px;
  max-width: 80%;
  max-height: 80%;
  border-radius: 8px;
  background-color: var(--bg-color);
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, .2));
  transform: translate(-50%, -50%);
}

.close-button {
  position: fixed;
  top: 16px;
  right: 16px;
  display: inline-flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: var(--fg-color);
  cursor: pointer;
  transition: all .2s;
  align-items: center;
  justify-content: center;
}

.img {
  position: relative;
}

.sharer {
  position: absolute;
  transition: all .2s ease;
}
